version: '2'

services:
  postgres:
    image: postgres:9.5
    ports:
      - "5433:5432"
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.4.1
    ports:
      - "9200:9200"
    environment:
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - xpack.security.enabled=false
  redis:
    image: redis
    ports:
      - "50505:6379"
  mongo:
    image: mongo
    ports:
      - "27017:27017"
